body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
.now {
    background-image: url("images/try.jpg");
    
}
p {
    color: dimgray;
}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 40px;
    
}
#first {
    color: blue;
}
.half-width {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
    
}
.half-width img {
    width: 80%;
}
.calm-width {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.calm-width img {
    width: 100%;
}
section {
    height: 500px;
    padding-bottom: 150px;
}
.link-babe {
    background-image: linear-gradient(45deg, lightSalmon, tomato);
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    
}
#mama {
    color: darkviolet;
}
.last-one {
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.last-one img {
    width: 55%;
}
.last-area {
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
.third-one {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    
}
#damn-button {
    background-image: linear-gradient(45deg, red, blue);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
#love {
    color: red;
}
#pretty {
    color:blue ;
}
.nope {
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    background-color: white;
}
#full {
    border-left: solid 7px;
    border-image: linear-gradient(lightSalmon, tomato);
    border-image-slice: 1;
}
#half-black {
    border-left: solid 7px;
    border-image: linear-gradient(blue, purple);
    border-image-slice: 1;
}
